In [5]:
import pandas as pd

# bringing in my CSV file
file_path = 'Life Expectancy Data.csv'

#Load the data into a DataFrame
df= pd.read_csv(file_path)

# Display the first few rows to verify the import
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
# Load the Life Expectancy Data.csv file
life_expectancy_file_path = 'Life Expectancy Data.csv'
life_expectancy_df = pd.read_csv(life_expectancy_file_path)

# Load the All.csv file
all_file_path = 'All.csv'
all_df = pd.read_csv(all_file_path)

# Merge the two DataFrames on 'Country' and 'name'
merged_df = life_expectancy_df.merge(all_df[['name', 'region', 'sub-region']], 
                                     left_on='Country', 
                                     right_on='name', 
                                     how='left')

# Drop the redundant 'name' column from the merged DataFrame
merged_df = merged_df.drop(columns=['name'])

# Display the first few rows of the merged DataFrame to verify the join
merged_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,Asia,Southern Asia
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,Asia,Southern Asia
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,Asia,Southern Asia
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,Asia,Southern Asia
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,Asia,Southern Asia

In [44]:
# Small Coutries with only one year of data will can many missing values need to be dropped here is the list.  
countries_to_drop = [
    'Cook Islands', 'Dominica', 'Marshall Islands', 'Monaco', 'Nauru',
    'Niue', 'Palau', 'Saint Kitts and Nevis', 'San Marino', 'Tuvalu'
]

# Drop rows where 'Country' is in countries_to_drop
merged_df = merged_df[~merged_df['Country'].isin(countries_to_drop)]

# Display the updated DataFrame shape to verify changes
print(f"DataFrame shape after dropping countries: {merged_df.shape}")

DataFrame shape after dropping countries: (2928, 24)

In [45]:
# Display all column names
column_names = merged_df.columns

# Count the number of unique values for each column
unique_values = merged_df.nunique()

# Calculate the percentage of null values for each column
null_percentage = merged_df.isnull().mean() * 100

# Combine the information into a single DataFrame
summary_df = pd.DataFrame({
    'Column Names': column_names,
    'Unique Values': unique_values,
    'Null Value Percentage': null_percentage
}).reset_index(drop=True)

print(summary_df)

                       Column Names  Unique Values  Null Value Percentage
0                           Country            183               0.000000
1                              Year             16               0.000000
2                            Status              2               0.000000
3                   Life expectancy            362               0.000000
4                   Adult Mortality            425               0.000000
5                     infant deaths            209               0.000000
6                           Alcohol           1076               6.591530
7            percentage expenditure           2323               0.000000
8                       Hepatitis B             87              18.886612
9                           Measles            958               0.000000
10                              BMI            602               1.092896
11                under-five deaths            252               0.000000
12                            Polio             73               0.648907
13                Total expenditure            816               7.718579
14                       Diphtheria             81               0.648907
15                         HIV/AIDS            200               0.000000
16                              GDP           2485              15.129781
17                       Population           2277              21.994536
18             thinness  1-19 years            200               1.092896
19               thinness 5-9 years            207               1.092896
20  Income composition of resources            625               5.464481
21                        Schooling            173               5.464481
22                           region              5               0.000000
23                       sub-region             17               0.000000

In [47]:


# Dictionary with the missing region and sub-region information
missing_regions = {
    'Bolivia (Plurinational State of)': ('Americas', 'Latin America and the Caribbean'),
    'Democratic People\'s Republic of Korea': ('Asia', 'Eastern Asia'),
    'Democratic Republic of the Congo': ('Africa', 'Sub-Saharan Africa'),
    'Iran (Islamic Republic of)': ('Asia', 'Western Asia'),
    'Micronesia (Federated States of)': ('Oceania', 'Micronesia'),
    'Netherlands': ('Europe', 'Western Europe'),
    'Republic of Korea': ('Asia', 'Eastern Asia'),
    'Republic of Moldova': ('Europe', 'Eastern Europe'),
    'Swaziland': ('Africa', 'Sub-Saharan Africa'),
    'The former Yugoslav republic of Macedonia': ('Europe', 'Southern Europe'),
    'Turkey': ('Asia', 'Western Asia'),
    'United Republic of Tanzania': ('Africa', 'Sub-Saharan Africa'),
    'Venezuela (Bolivarian Republic of)': ('Americas', 'Latin America and the Caribbean')
}

# Update the DataFrame with the missing region and sub-region information
for country, (region, sub_region) in missing_regions.items():
    mask = merged_df['Country'] == country
    merged_df.loc[mask, 'region'] = region
    merged_df.loc[mask, 'sub-region'] = sub_region

# Display the updated DataFrame to verify the changes
print(merged_df.loc[merged_df['Country'].isin(missing_regions.keys()), ['Country', 'region', 'sub-region']])

# Save the updated DataFrame as a CSV file
output_file_path = 'updated_life_expectancy_data.csv'
merged_df.to_csv(output_file_path, index=False)

print(f"Updated DataFrame saved to {output_file_path}")

                                 Country    region  \
304     Bolivia (Plurinational State of)  Americas
305     Bolivia (Plurinational State of)  Americas
306     Bolivia (Plurinational State of)  Americas
307     Bolivia (Plurinational State of)  Americas
308     Bolivia (Plurinational State of)  Americas
...                                  ...       ...
2869  Venezuela (Bolivarian Republic of)  Americas
2870  Venezuela (Bolivarian Republic of)  Americas
2871  Venezuela (Bolivarian Republic of)  Americas
2872  Venezuela (Bolivarian Republic of)  Americas
2873  Venezuela (Bolivarian Republic of)  Americas

                           sub-region
304   Latin America and the Caribbean
305   Latin America and the Caribbean
306   Latin America and the Caribbean
307   Latin America and the Caribbean
308   Latin America and the Caribbean
...                               ...
2869  Latin America and the Caribbean
2870  Latin America and the Caribbean
2871  Latin America and the Caribbean
2872  Latin America and the Caribbean
2873  Latin America and the Caribbean

[208 rows x 3 columns]
Updated DataFrame saved to updated_life_expectancy_data.csv

In [48]:
# Print type and row count for each column

for column in merged_df.columns:
    column_type = merged_df[column].dtype
    row_count = merged_df[column].count()
    print(f"Column '{column}' has type '{column_type}' and {row_count} rows.")

Column 'Country' has type 'object' and 2928 rows.
Column 'Year' has type 'int64' and 2928 rows.
Column 'Status' has type 'object' and 2928 rows.
Column 'Life expectancy' has type 'float64' and 2928 rows.
Column 'Adult Mortality' has type 'float64' and 2928 rows.
Column 'infant deaths' has type 'int64' and 2928 rows.
Column 'Alcohol' has type 'float64' and 2735 rows.
Column 'percentage expenditure' has type 'float64' and 2928 rows.
Column 'Hepatitis B' has type 'float64' and 2375 rows.
Column 'Measles' has type 'int64' and 2928 rows.
Column 'BMI' has type 'float64' and 2896 rows.
Column 'under-five deaths' has type 'int64' and 2928 rows.
Column 'Polio' has type 'float64' and 2909 rows.
Column 'Total expenditure' has type 'float64' and 2702 rows.
Column 'Diphtheria' has type 'float64' and 2909 rows.
Column 'HIV/AIDS' has type 'float64' and 2928 rows.
Column 'GDP' has type 'float64' and 2485 rows.
Column 'Population' has type 'float64' and 2284 rows.
Column 'thinness  1-19 years' has type 'float64' and 2896 rows.
Column 'thinness 5-9 years' has type 'float64' and 2896 rows.
Column 'Income composition of resources' has type 'float64' and 2768 rows.
Column 'Schooling' has type 'float64' and 2768 rows.
Column 'region' has type 'object' and 2928 rows.
Column 'sub-region' has type 'object' and 2928 rows.

In [49]:
null_values_count = merged_df['Life expectancy'].isnull().sum()
print(f"Number of null values in 'Life expectancy' column: {null_values_count}")

Number of null values in 'Life expectancy' column: 0

In [29]:
null_values_count = merged_df['region'].isnull().sum()
print(f"Number of null values in 'region' column: {null_values_count}")

Number of null values in 'region' column: 0

In [51]:
null_values_count = merged_df['Alcohol'].isnull().sum()
print(f"Number of null values in 'Alcohol' column: {null_values_count}")

Number of null values in 'Alcohol' column: 193

In [52]:

# Calculate average Alcohol values for each country
average_alcohol = merged_df.groupby('Country')['Alcohol'].transform('mean')

# Fill NaN values in Alcohol column with corresponding average values
merged_df['Alcohol'].fillna(average_alcohol, inplace=True)

# Display any remaining NaN values in 'Alcohol' column to verify
print(f"Remaining NaN values in 'Alcohol' column:\n{merged_df[merged_df['Alcohol'].isnull()]}")

Remaining NaN values in 'Alcohol' column:
          Country  Year      Status  Life expectancy  Adult Mortality  \
2409  South Sudan  2015  Developing             57.3            332.0
2410  South Sudan  2014  Developing             56.6            343.0
2411  South Sudan  2013  Developing             56.4            345.0
2412  South Sudan  2012  Developing             56.0            347.0
2413  South Sudan  2011  Developing             55.4            355.0
2414  South Sudan  2010  Developing             55.0            359.0
2415  South Sudan  2009  Developing             54.3            369.0
2416  South Sudan  2008  Developing             53.6            377.0
2417  South Sudan  2007  Developing             53.1            381.0
2418  South Sudan  2006  Developing             52.5            383.0
2419  South Sudan  2005  Developing             51.9            383.0
2420  South Sudan  2004  Developing             51.4            383.0
2421  South Sudan  2003  Developing             58.0            383.0
2422  South Sudan  2002  Developing             52.0            382.0
2423  South Sudan  2001  Developing             49.6            381.0
2424  South Sudan  2000  Developing             48.9             38.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles  \
2409             26      NaN                0.000000         31.0      878
2410             26      NaN               46.074469          NaN      441
2411             26      NaN               47.444530          NaN      525
2412             26      NaN               38.338232          NaN     1952
2413             27      NaN                0.000000          NaN     1256
2414             27      NaN                0.000000          NaN        0
2415             27      NaN                0.000000          NaN        0
2416             27      NaN                0.000000          NaN        0
2417             27      NaN                0.000000          NaN        0
2418             28      NaN                0.000000          NaN        0
2419             28      NaN                0.000000          NaN        0
2420             29      NaN                0.000000          NaN        0
2421             29      NaN                0.000000          NaN        0
2422             30      NaN                0.000000          NaN        0
2423             30      NaN                0.000000          NaN        0
2424             31      NaN                0.000000          NaN        0

      ...  Diphtheria  HIV/AIDS          GDP  Population  \
2409  ...        31.0       3.4   758.725782  11882136.0
2410  ...        39.0       3.5  1151.861715   1153971.0
2411  ...        45.0       3.6  1186.113250   1117749.0
2412  ...        59.0       3.8   958.455810   1818258.0
2413  ...        61.0       3.9   176.971300   1448857.0
2414  ...         NaN       4.0  1562.239346    167192.0
2415  ...         NaN       4.2  1264.789980    967667.0
2416  ...         NaN       4.2  1678.711862   9263136.0
2417  ...         NaN       4.2          NaN     88568.0
2418  ...         NaN       4.1          NaN   8468152.0
2419  ...         NaN       3.9          NaN    818877.0
2420  ...         NaN       3.8          NaN   7787655.0
2421  ...         NaN       3.5          NaN    751642.0
2422  ...         NaN       3.3          NaN   7237276.0
2423  ...         NaN       3.0          NaN   6974442.0
2424  ...         NaN       2.7          NaN     67656.0

      thinness  1-19 years  thinness 5-9 years  \
2409                   NaN                 NaN
2410                   NaN                 NaN
2411                   NaN                 NaN
2412                   NaN                 NaN
2413                   NaN                 NaN
2414                   NaN                 NaN
2415                   NaN                 NaN
2416                   NaN                 NaN
2417                   NaN                 NaN
2418                   NaN                 NaN
2419                   NaN                 NaN
2420                   NaN                 NaN
2421                   NaN                 NaN
2422                   NaN                 NaN
2423                   NaN                 NaN
2424                   NaN                 NaN

      Income composition of resources  Schooling  region          sub-region
2409                            0.421        4.9  Africa  Sub-Saharan Africa
2410                            0.421        4.9  Africa  Sub-Saharan Africa
2411                            0.417        4.9  Africa  Sub-Saharan Africa
2412                            0.419        4.9  Africa  Sub-Saharan Africa
2413                            0.429        4.9  Africa  Sub-Saharan Africa
2414                            0.000        0.0  Africa  Sub-Saharan Africa
2415                            0.000        0.0  Africa  Sub-Saharan Africa
2416                            0.000        0.0  Africa  Sub-Saharan Africa
2417                            0.000        0.0  Africa  Sub-Saharan Africa
2418                            0.000        0.0  Africa  Sub-Saharan Africa
2419                            0.000        0.0  Africa  Sub-Saharan Africa
2420                            0.000        0.0  Africa  Sub-Saharan Africa
2421                            0.000        0.0  Africa  Sub-Saharan Africa
2422                            0.000        0.0  Africa  Sub-Saharan Africa
2423                            0.000        0.0  Africa  Sub-Saharan Africa
2424                            0.000        0.0  Africa  Sub-Saharan Africa

[16 rows x 24 columns]

C:\Users\benja\AppData\Local\Temp\ipykernel_14140\148682996.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Alcohol'].fillna(average_alcohol, inplace=True)

In [53]:
null_values_count = merged_df['Alcohol'].isnull().sum()
print(f"Number of null values in 'Alcohol' column: {null_values_count}")

Number of null values in 'Alcohol' column: 16

In [54]:
# Filter rows where 'Alcohol' column is null and display the 'Country' column
null_alcohol_countries = merged_df[merged_df['Alcohol'].isnull()]['Country']

# Display the countries with null values in 'Alcohol' column
print("Countries with null values in 'Alcohol' column:")
print(null_alcohol_countries)

Countries with null values in 'Alcohol' column:
2409    South Sudan
2410    South Sudan
2411    South Sudan
2412    South Sudan
2413    South Sudan
2414    South Sudan
2415    South Sudan
2416    South Sudan
2417    South Sudan
2418    South Sudan
2419    South Sudan
2420    South Sudan
2421    South Sudan
2422    South Sudan
2423    South Sudan
2424    South Sudan
Name: Country, dtype: object

In [55]:
# We found that South Sudan does not have alcohol data since Sudan and South Sudan were the same country until 2011 
sudan_alcohol_values = merged_df.loc[merged_df['Country'] == 'Sudan', ['Year', 'Alcohol']].dropna()

# Update null Alcohol values for South Sudan using values from Sudan
merged_df.loc[(merged_df['Country'] == 'South Sudan') & (merged_df['Alcohol'].isnull()), 'Alcohol'] = merged_df.merge(sudan_alcohol_values, on='Year', suffixes=('_South Sudan', '_Sudan'))['Alcohol_Sudan']

# Display the updated rows where 'Country' is 'South Sudan' to verify
print("Updated rows for 'South Sudan':")
print(merged_df.loc[(merged_df['Country'] == 'South Sudan') & (merged_df['Alcohol'].isnull()), ['Year', 'Country', 'Alcohol']])

Updated rows for 'South Sudan':
Empty DataFrame
Columns: [Year, Country, Alcohol]
Index: []

In [56]:
null_values_count = merged_df['Alcohol'].isnull().sum()
print(f"Number of null values in 'Alcohol' column: {null_values_count}")

Number of null values in 'Alcohol' column: 0

In [57]:
# Count null values in each column
null_counts = merged_df.isnull().sum()

# Print column names and their respective null counts
print("Null value counts per column:")
for column, count in null_counts.items():
    print(f"{column}: {count}")

Null value counts per column:
Country: 0
Year: 0
Status: 0
Life expectancy: 0
Adult Mortality: 0
infant deaths: 0
Alcohol: 0
percentage expenditure: 0
Hepatitis B: 553
Measles: 0
BMI: 32
under-five deaths: 0
Polio: 19
Total expenditure: 226
Diphtheria: 19
HIV/AIDS: 0
GDP: 443
Population: 644
thinness  1-19 years: 32
thinness 5-9 years: 32
Income composition of resources: 160
Schooling: 160
region: 0
sub-region: 0

In [59]:
# Dropping Hep B & Total expenditure has the data is too incomplete
columns_to_drop = ['Hepatitis B', 'Total expenditure', 'GDP']

# Drop the columns from the DataFrame
merged_df.drop(columns=columns_to_drop, inplace=True)

# Display the updated DataFrame shape to verify
print(f"DataFrame shape after dropping columns: {merged_df.shape}")

KeyError: "['Hepatitis B', 'Total expenditure'] not found in axis"

In [60]:
# Dropping GDP as well 
columns_to_drop = [ 'GDP']

# Drop the columns from the DataFrame
merged_df.drop(columns=columns_to_drop, inplace=True)

# Display the updated DataFrame shape to verify
print(f"DataFrame shape after dropping columns: {merged_df.shape}")

DataFrame shape after dropping columns: (2928, 21)

In [61]:
# List of columns to replace null values with average by 'Country'
columns_to_average = ['Polio', 'Diphtheria', 'thinness  1-19 years', 'thinness 5-9 years']

# Calculate average values for each column by 'Country'
for column in columns_to_average:
    merged_df[column] = merged_df.groupby('Country')[column].transform(lambda x: x.fillna(x.mean()))

# Display any remaining NaN values in these columns to verify
remaining_nulls = merged_df[columns_to_average].isnull().sum()
print("Remaining null values after filling with averages:")
print(remaining_nulls)

Remaining null values after filling with averages:
Polio                    0
Diphtheria               0
thinness  1-19 years    32
thinness 5-9 years      32
dtype: int64

In [62]:
# Looking to see what country(s) have the remaining null values that did not take the average probably due to no data for that country
null_thinness_countries = merged_df[merged_df['thinness  1-19 years'].isnull()]['Country'].unique()

# Print the unique countries where 'thinness  1-19 years' is null
print("Countries where 'thinness  1-19 years' is null:")
for country in null_thinness_countries:
    print(country)

Countries where 'thinness  1-19 years' is null:
South Sudan
Sudan

In [64]:
# The Sudans once agian are causing issues. Lets replace their non- entry column nulls with an average from their sub-region
columns_to_average = ['thinness 5-9 years', 'thinness  1-19 years']

# Calculate average values for 'Sub-Saharan Africa' sub-region excluding Sudan and South Sudan
for column in columns_to_average:
    sub_saharan_avg = merged_df.loc[(merged_df['sub-region'] == 'Sub-Saharan Africa') & (~merged_df['Country'].isin(['Sudan', 'South Sudan']))][column].mean()
    merged_df.loc[(merged_df['Country'].isin(['Sudan', 'South Sudan'])) & (merged_df['sub-region'] == 'Sub-Saharan Africa') & (merged_df[column].isnull()), column] = sub_saharan_avg

# Display any remaining NaN values in these columns to verify
remaining_nulls = merged_df[merged_df['Country'].isin(['Sudan', 'South Sudan']) & (merged_df['sub-region'] == 'Sub-Saharan Africa')][columns_to_average].isnull().sum()
print("Remaining null values after filling with averages:")
print(remaining_nulls)

Remaining null values after filling with averages:
thinness 5-9 years      0
thinness  1-19 years    0
dtype: int64

In [68]:
# Iterate over each year
for year in merged_df['Year'].unique():
    # Find the 'thinness 5-9 years' value for South Sudan for the current year
    south_sudan_value = merged_df.loc[(merged_df['Country'] == 'South Sudan') & (merged_df['Year'] == year), 'thinness 5-9 years'].values
    # Update 'thinness 5-9 years' for Sudan to match South Sudan for the current year
    merged_df.loc[(merged_df['Country'] == 'Sudan') & (merged_df['Year'] == year), 'thinness 5-9 years'] = south_sudan_value
    
    # Find the 'thinness  1-19 years' value for South Sudan for the current year
    south_sudan_value = merged_df.loc[(merged_df['Country'] == 'South Sudan') & (merged_df['Year'] == year), 'thinness  1-19 years'].values
    # Update 'thinness  1-19 years' for Sudan to match South Sudan for the current year
    merged_df.loc[(merged_df['Country'] == 'Sudan') & (merged_df['Year'] == year), 'thinness  1-19 years'] = south_sudan_value

# Display the updated rows for Sudan to verify
updated_sudan_data = merged_df[merged_df['Country'] == 'Sudan'][['Year', 'Country', 'thinness 5-9 years', 'thinness  1-19 years']]
print("Updated 'thinness' values for Sudan:")
print(updated_sudan_data)

Updated 'thinness' values for Sudan:
      Year Country  thinness 5-9 years  thinness  1-19 years
2457  2015   Sudan            7.374069              7.441356
2458  2014   Sudan            7.374069              7.441356
2459  2013   Sudan            7.374069              7.441356
2460  2012   Sudan            7.374069              7.441356
2461  2011   Sudan            7.374069              7.441356
2462  2010   Sudan            7.374069              7.441356
2463  2009   Sudan            7.374069              7.441356
2464  2008   Sudan            7.374069              7.441356
2465  2007   Sudan            7.374069              7.441356
2466  2006   Sudan            7.374069              7.441356
2467  2005   Sudan            7.374069              7.441356
2468  2004   Sudan            7.374069              7.441356
2469  2003   Sudan            7.374069              7.441356
2470  2002   Sudan            7.374069              7.441356
2471  2001   Sudan            7.374069              7.441356
2472  2000   Sudan            7.374069              7.441356

In [69]:
# Lets check our null values after cleaning 
null_counts = merged_df.isnull().sum()

# Print column names and their respective null counts
print("Null value counts per column:")
for column, count in null_counts.items():
    print(f"{column}: {count}")

Null value counts per column:
Country: 0
Year: 0
Status: 0
Life expectancy: 0
Adult Mortality: 0
infant deaths: 0
Alcohol: 0
percentage expenditure: 0
Measles: 0
BMI: 32
under-five deaths: 0
Polio: 0
Diphtheria: 0
HIV/AIDS: 0
Population: 644
thinness  1-19 years: 0
thinness 5-9 years: 0
Income composition of resources: 160
Schooling: 160
region: 0
sub-region: 0

In [70]:
# Find unique countries with null values in 'BMI' column
countries_with_null_bmi = merged_df[merged_df['BMI'].isnull()]['Country'].unique()

# Print unique countries with null values in 'BMI' column
print("Countries with null values in 'BMI' column:")
for country in countries_with_null_bmi:
    print(country)

Countries with null values in 'BMI' column:
South Sudan
Sudan

In [71]:
# The Sudans once agian are causing issues. Lets replace their non- entry column nulls with an average from their sub-region
columns_to_average = ['BMI']

# Calculate average values for 'Sub-Saharan Africa' sub-region excluding Sudan and South Sudan
for column in columns_to_average:
    sub_saharan_avg = merged_df.loc[(merged_df['sub-region'] == 'Sub-Saharan Africa') & (~merged_df['Country'].isin(['Sudan', 'South Sudan']))][column].mean()
    merged_df.loc[(merged_df['Country'].isin(['Sudan', 'South Sudan'])) & (merged_df['sub-region'] == 'Sub-Saharan Africa') & (merged_df[column].isnull()), column] = sub_saharan_avg

# Display any remaining NaN values in these columns to verify
remaining_nulls = merged_df[merged_df['Country'].isin(['Sudan', 'South Sudan']) & (merged_df['sub-region'] == 'Sub-Saharan Africa')][columns_to_average].isnull().sum()
print("Remaining null values after filling with averages:")
print(remaining_nulls)

Remaining null values after filling with averages:
BMI    0
dtype: int64

In [72]:
# Lets check our null values after cleaning 
null_counts = merged_df.isnull().sum()

# Print column names and their respective null counts
print("Null value counts per column:")
for column, count in null_counts.items():
    print(f"{column}: {count}")

Null value counts per column:
Country: 0
Year: 0
Status: 0
Life expectancy: 0
Adult Mortality: 0
infant deaths: 0
Alcohol: 0
percentage expenditure: 0
Measles: 0
BMI: 16
under-five deaths: 0
Polio: 0
Diphtheria: 0
HIV/AIDS: 0
Population: 644
thinness  1-19 years: 0
thinness 5-9 years: 0
Income composition of resources: 160
Schooling: 160
region: 0
sub-region: 0

In [73]:
# Iterate over each year
for year in merged_df['Year'].unique():
    # Find the 'BMI' value for South Sudan for the current year
    south_sudan_value = merged_df.loc[(merged_df['Country'] == 'South Sudan') & (merged_df['Year'] == year), 'BMI'].values
    # Update 'BMI' for Sudan to match South Sudan for the current year
    merged_df.loc[(merged_df['Country'] == 'Sudan') & (merged_df['Year'] == year), 'BMI'] = south_sudan_value
    

# Display the updated rows for Sudan to verify
updated_sudan_data = merged_df[merged_df['Country'] == 'Sudan'][['Year', 'Country', 'BMI']]
print("Updated 'BMI' values for Sudan:")
print(updated_sudan_data)

Updated 'BMI' values for Sudan:
      Year Country        BMI
2457  2015   Sudan  20.324335
2458  2014   Sudan  20.324335
2459  2013   Sudan  20.324335
2460  2012   Sudan  20.324335
2461  2011   Sudan  20.324335
2462  2010   Sudan  20.324335
2463  2009   Sudan  20.324335
2464  2008   Sudan  20.324335
2465  2007   Sudan  20.324335
2466  2006   Sudan  20.324335
2467  2005   Sudan  20.324335
2468  2004   Sudan  20.324335
2469  2003   Sudan  20.324335
2470  2002   Sudan  20.324335
2471  2001   Sudan  20.324335
2472  2000   Sudan  20.324335

In [74]:
# Lets check our null values after cleaning 
null_counts = merged_df.isnull().sum()

# Print column names and their respective null counts
print("Null value counts per column:")
for column, count in null_counts.items():
    print(f"{column}: {count}")

Null value counts per column:
Country: 0
Year: 0
Status: 0
Life expectancy: 0
Adult Mortality: 0
infant deaths: 0
Alcohol: 0
percentage expenditure: 0
Measles: 0
BMI: 0
under-five deaths: 0
Polio: 0
Diphtheria: 0
HIV/AIDS: 0
Population: 644
thinness  1-19 years: 0
thinness 5-9 years: 0
Income composition of resources: 160
Schooling: 160
region: 0
sub-region: 0

In [75]:
# Lets find all of the countries where there is not any Schooling data. I would assume it is the same list as Income composition of resources
countries_with_only_null_schooling = merged_df[merged_df['Schooling'].isnull()]['Country'].unique()

# Print countries with only null values in 'Schooling' column
print("Countries with only null values in 'Schooling' column:")
for country in countries_with_only_null_schooling:
    print(country)

Countries with only null values in 'Schooling' column:
Côte d'Ivoire
Czechia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Republic of Korea
Republic of Moldova
Somalia
United Kingdom of Great Britain and Northern Ireland
United Republic of Tanzania
United States of America

In [76]:
# List of countries to process
countries_list = [
    "Côte d'Ivoire", "Czechia", "Democratic People's Republic of Korea",
    "Democratic Republic of the Congo", "Republic of Korea", "Republic of Moldova",
    "Somalia", "United Kingdom of Great Britain and Northern Ireland",
    "United Republic of Tanzania", "United States of America"
]

# Columns to process
columns_to_average = ['Income composition of resources', 'Schooling']

# Iterate over each country in the list
for country in countries_list:
    # Find the sub-region of the current country
    sub_region = merged_df.loc[merged_df['Country'] == country, 'sub-region'].iloc[0]
    
    # Calculate average values for 'Income composition of resources' and 'Schooling' within the sub-region
    for column in columns_to_average:
        avg_value = merged_df.loc[(merged_df['sub-region'] == sub_region) & (~merged_df[column].isnull()), column].mean()
        
        # Update null values for the current country with the average value
        merged_df.loc[(merged_df['Country'] == country) & (merged_df[column].isnull()), column] = avg_value

# Display the updated rows for the specified countries to verify
updated_countries_data = merged_df[merged_df['Country'].isin(countries_list)][['Country', 'sub-region', 'Income composition of resources', 'Schooling']]
print("Updated values for 'Income composition of resources' and 'Schooling' for specified countries:")
print(updated_countries_data)

Updated values for 'Income composition of resources' and 'Schooling' for specified countries:
                       Country          sub-region  \
432              Côte d'Ivoire  Sub-Saharan Africa
433              Côte d'Ivoire  Sub-Saharan Africa
434              Côte d'Ivoire  Sub-Saharan Africa
435              Côte d'Ivoire  Sub-Saharan Africa
436              Côte d'Ivoire  Sub-Saharan Africa
...                        ...                 ...
2805  United States of America    Northern America
2806  United States of America    Northern America
2807  United States of America    Northern America
2808  United States of America    Northern America
2809  United States of America    Northern America

      Income composition of resources  Schooling
432                          0.439260   8.874148
433                          0.439260   8.874148
434                          0.439260   8.874148
435                          0.439260   8.874148
436                          0.439260   8.874148
...                               ...        ...
2805                         0.892188  15.875000
2806                         0.892188  15.875000
2807                         0.892188  15.875000
2808                         0.892188  15.875000
2809                         0.892188  15.875000

[160 rows x 4 columns]

In [77]:
# Drop the 'Population' column
merged_df.drop(columns=['Population'], inplace=True)

# Display the updated DataFrame shape to verify
print(f"DataFrame shape after dropping 'Population' column: {merged_df.shape}")

DataFrame shape after dropping 'Population' column: (2928, 20)

In [78]:
# Lets check our null values after cleaning 
null_counts = merged_df.isnull().sum()

# Print column names and their respective null counts
print("Null value counts per column:")
for column, count in null_counts.items():
    print(f"{column}: {count}")

Null value counts per column:
Country: 0
Year: 0
Status: 0
Life expectancy: 0
Adult Mortality: 0
infant deaths: 0
Alcohol: 0
percentage expenditure: 0
Measles: 0
BMI: 0
under-five deaths: 0
Polio: 0
Diphtheria: 0
HIV/AIDS: 0
thinness  1-19 years: 0
thinness 5-9 years: 0
Income composition of resources: 0
Schooling: 0
region: 0
sub-region: 0

In [79]:
# Win!!! saving my updated clean data set 
output_file_path = 'Cleaned_Life_Expectancy_Data.csv'

# Save the cleaned DataFrame to CSV
merged_df.to_csv(output_file_path, index=False)

# Confirm the file has been saved
print(f"Cleaned DataFrame saved to {output_file_path}")

Cleaned DataFrame saved to Cleaned_Life_Expectancy_Data.csv